*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.capa{ 
    width: auto;
    height: auto;
    background:linear-gradient(130deg, gold , LightCoral, mediumpurple);
    background-size: cover;
    background-position: center;
 }
 #titulo{
    text-align:center;
    font-family: Tahoma;
     
 }

 .box {
    
    font-size: 20px;
    font-weight: 400;
    background:whitesmoke;
    margin: 67px 200px;
    overflow: hidden;
    padding: 30px;
    border-radius: 20px;
    opacity: .8;
    font-family: Tahoma;
    }

    .div-img {
      display: flex;
      float: left;  
       
   }

   .div-img1 {
      display: flex;
      align-items: center;
      float: right;   
   }


